* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(231, 234, 107);
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  background-color: rgb(0, 0, 0);
  /* color: white; */
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: var(--primary-color);
  text-align: center;
  margin: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.container {
  /* background-color: red; */
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.cell {
  color: var(--primary-color);
  width: 9rem;
  height: 9rem;
  font-size: 14dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.right-bottom-border {
  border-right: 10px solid var(--primary-color);
  border-bottom: 10px solid var(--primary-color);
}

.right-border {
  border-right: 10px solid var(--primary-color);
}

.bottom-border {
  border-bottom: 10px solid var(--primary-color);
}

#display {
  background-color: var(--primary-color);
  min-height: 40dvh;
  min-width: 30dvw;
  padding: 20px;
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 40%;
  padding: 10px 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  background-color: transparent;
  border: 3px solid;
  margin-bottom: 5px;
}

#start-btn {
  border-color: green;
  color: green;
}

#start-btn:hover {
  background-color: green;
  color: white;
}

#reset-btn {
  border-color: red;
  color: red;
}

#reset-btn:hover {
  background-color: red;
  color: white;
}

#select-player-msg {
  text-align: center;
  margin: 8px;
  color: green;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.7s;
}
.hover-effect:hover,
.hover-effect:hover {
  background-color: rgb(234, 238, 32);
}

.status-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10dvh;
}

#status {
  color: green;
  font-size: 2rem;
  opacity: 1;
  transition: all 0.7s;
}

#error-msg {
  color: red;
  font-size: 1rem;
  font-weight: bold;
}

@media screen and (max-width: 720px) {
  .cell {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 480px) {
  .cell {
    width: 80px;
    height: 80px;
  }
}
